# -*- mode: python -*-

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pytest = "*"
numpy = "*"
jira = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[scripts]
start = "python src/leanStats.py"
test = "pytest tests"
formatcheck = "black --check src tests"
formatdiff = "black --diff src tests"
formatfix =  "black src tests"
jira = "python src/jira_connector.py"

[tool]
pytest = {testpaths = ["tests"]}
