[SYSTEM]
input_csv_file = data/sample.csv

[BOARD]
TODO = To Do, Backlog
WIP = In Progress, Review & QA, Review
DONE = Done

[JIRA]
MOCK_JIRA_DATA = data/mock-jira-data.csv

EMAIL       = <your@email.address>
JIRA_URL    = <https://your-jira-instance.atlassian.net>
API_TOKEN   = <YOUR API-TOKEN>
JIRA_FILTER = <your saved jira filter here>


